[Unit]
Description=Cocktails Web
After=network.target

[Service]
User=cocktails
WorkingDirectory=/home/cocktails/cocktails-web
ExecStartPre=git pull
ExecStartPre=sh ./build.sh
ExecStart=sh ./start.sh
Restart=always
RestartSec=3
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target