[Unit]
Description=Cocktails Web
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/cocktails-web
ExecStartPre=git pull
ExecStartPre=/bin/bash ./build.sh
ExecStart=/bin/bash ./start.sh
Restart=always
RestartSec=3
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target