@tailwind base;
@tailwind components;
@tailwind utilities;


/* Setup black and white variables */
:root {
  --black: #1d1d1f;
  --white: #f5f5f7;
  --turquoise: #40E0D0;
}


body {
  color: var(--black);
  background-color: var(--white);
  width: 100dvw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

main {
  min-width: 48rem;
}

input[type="text"]:focus {
  outline: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}